<ActionBar title="User Profile"></ActionBar>

<ScrollView>
  <StackLayout class="p-10">
    <Label text="Name" class="h3"></Label>
    <Label [text]="profile.name" class="text-lg"></Label>
    <Label text="Age" class="h3 m-t-10"></Label>
    <Label [text]="profile.age" class="text-lg"></Label>
    <Label text="Gender" class="h3 m-t-10"></Label>
    <Label [text]="profile.gender" class="text-lg"></Label>
    <Label text="Height" class="h3 m-t-10"></Label>
    <Label [text]="profile.height" class="text-lg"></Label>
    <Label text="Weight" class="h3 m-t-10"></Label>
    <Label [text]="profile.weight" class="text-lg"></Label>
  </StackLayout>
</ScrollView>